@page
@model Gutmeal.Pages.Shared.DeleteModel
@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/Delete.css" />

<div class="info-section">
    <h2 style="text-decoration: underline;" >Delete Your Data</h2>
    <p>The Delete operation in GutMeal allows users to remove an existing meal plan from the system. If a user decides that a meal plan is no longer necessary or should be removed, they can select the meal plan and delete it from the system. Upon deletion, the meal plan is permanently removed from the data store, ensuring that it no longer appears in the list of available meal plans. This operation helps maintain an up-to-date and clean meal plan database, ensuring users only see the relevant meal options.</p>

</div>

<form>
    <label>Entry ID:</label>
    <input type="text" /><br />
    <button type="submit">Confirm Delete</button>
</form>
