@page
@model Gutmeal.Pages.Shared.DeleteModel
@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/Delete.css" />
<h2>Delete Your Data</h2>
<p>This page allows you to delete an existing meal entry. Please be cautious as this action is irreversible. Deleting an entry will permanently remove it from the records.</p>

<form>
    <label>Entry ID:</label>
    <input type="text" /><br />
    <button type="submit">Confirm Delete</button>
</form>
