@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <section class="content-container">
        <h2 class="welcome-title">Welcome to GutMeal</h2>
        <p class="tagline">Your health-focused meal tracking assistant.</p>
        <p>
            Gutmeal is a health-focused meal tracking assistant that allows users to track their meals and provides personalized meal plans based on various factors like age, diet type, health conditions, and more. By filling out a form on the website, users will receive meal plan suggestions tailored to their individual needs. Whether you're looking for a vegetarian diet or a high-protein meal plan, Gutmeal helps you choose the right option for your lifestyle.


        </p>
        <div class="action-buttons">
            <button onclick="location.href='/Create'">Start Your Journey</button>
            <button onclick="location.href='/Read'">Track Your Data</button>
            <button onclick="location.href='/Update'">Adjust Your Data</button>
            <button onclick="location.href='/Delete'">Reset Progress</button>
        </div>
    </section>
</body>
</html>