@page
@model Gutmeal.Pages.ReadModel
@{
    ViewData["Title"] = "Read";
}

<link rel="stylesheet" href="~/css/Read.css" />
<div class="info-section">
    <h2 style="text-decoration: underline;">Track your Data</h2>
    <p>The Read operation in GutMeal allows users to view all the available meal plans in the system. When users visit the meal plan page, they can see a list of existing meal plans along with their names, descriptions, and food items. This operation retrieves the data stored in the system and displays it in an organized manner, providing users with easy access to all the meal plan options available to them. It allows users to browse and select different meal plans based on their preferences.</p>


</div>


<table border="1">
    <tr>
        <th>Age</th>
        <th>Gender</th>
        <th>Digestive Issues</th>
        <th>Food Allergies</th>
        <th>Health Conditions</th>
        <th>Diet Type</th>
        <th>Processed Food</th>
        <th>Fiber Intake</th>
        <th>Exercise</th>
        <th>Stress</th>
        <th>Sleep</th>
    </tr>
    <tr><td>61</td><td>Female</td><td>Sometimes</td><td>0</td><td>0</td><td>Vegetarian</td><td>Often</td><td>Sometimes</td><td>Sedentary</td><td>8</td><td>7</td></tr>
    <tr><td>56</td><td>Male</td><td>Sometimes</td><td>0</td><td>1</td><td>Gluten-Free</td><td>Sometimes</td><td>Sometimes</td><td>Regular</td><td>4</td><td>1</td></tr>
</table>
