@page
@model Gutmeal.Pages.UpdateModel
@{
    ViewData["Title"] = "Update";
}
<link rel="stylesheet" href="~/css/Update.css" />

<div class="info-section">
    <h2 style ="text-decoration: underline;">Update Your Data</h2>
    <p>The Update operation in GutMeal enables users to modify the details of an existing meal plan. Whether a user wants to change the name, description, or ingredients, the update process allows them to edit the existing data. After submitting the changes, the system updates the meal plan in the data store, ensuring that the most current version is displayed to the user. This operation ensures that the meal plans remain relevant and accurate, accommodating changes to the plans over time.</p>

</div>

<form>
    <label>Entry ID:</label>
    <input type="text" /><br />
    <label>Update Stress Level:</label>
    <input type="range" min="1" max="10" /><br />
    <button type="submit">Update</button>
</form>