@page
@model Gutmeal.Pages.UpdateModel
@{
    ViewData["Title"] = "Update";
}
<h2>Update Meal Entry</h2>
<form>
    <label>Entry ID:</label>
    <input type="text" /><br />
    <label>Update Stress Level:</label>
    <input type="range" min="1" max="10" /><br />
    <button type="submit">Update</button>
</form>